$color-main: #ffffff;
$color-hover-button:#0bc5bc;
$color-h3:#413d4b;
$color-p:#817f86;
$color-p-2:#a4a4a4;
$color-p-3:#e6e5e8;
$color-span:#b1b0ba;
$color-border:#79788c;
$color-form:#e5e5e5;




$font-family-menu:'Roboto Bk';
$font-family-2:'Playfair+Display';
$font-family-3:'Roboto';
$font-family-4:'Hammersmith+One';
$font-family-5:'Playfair Display';


